<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: head">
    <title id="pageTitle">Lager</title>
</head>
<body>
<nav th:include="navbar :: navbar"></nav>
<div id="title">
	<t1 th:text="#{reordertable.title}">Lagerübersicht</t1>
</div>
<div id="tablespace">
	<table id=reordertable class="ui celled table">
			<thead>
				<tr>
					<th th:text="#{reordertable.name}">Name</th>
					<th th:text="#{reordertable.time}">Datum</th>
					<th th:text="#{reordertable.amount}">Anzahl</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="reorder: ${reorders}">
					<td th:text="${reorder.name}">Name</td>
					<td th:text="${reorder.time}">Ankunft</td>
					<td th:text="${reorder.amount}">Anzahl</td>
				</tr>
			</tbody>
	</table>
</div>
</body>
</html>