body {
  font-family: sans-serif;
  background-color: #F9F9F9;
}

/*divs*/

#title {
  /*Title*/
  text-align:center;
  margin: 5em 0em 4em 0em;
}

#registration {
  text-align: center;
  margin-bottom: 3em;
}

#modalbutton {
  text-align: center;
  margin: 2em 1em 1em 1em;
}

#modalcontent {
  margin: 1em;
}

#buttonspace {
	margin: 2em 0em 0em 0em;
}

#textnhead {
	margin: 0em 0em 1em 0em;
}

#tablespace {
	padding: 3em;
}

#customerbox {
	padding: 1em 3em 1em 1em;
	text-align: right;
}

#rightspace {
	padding: 0em 4em 0em 0em;
	text-align: right;
}

#halfwidth {
	margin: 0 auto;
	width: 425px;
}
#editspace {
    padding: 1%;
}
#typebutton {
    margin: 5px 1em 5px 1em;
}

/*fonts*/

t1 {
  font-family: sans-serif;
  font-size: 2.5em;
  color: #494949;
}

t2 {
  font-family: sans-serif;
  font-size: 1.5em;
  color: #494949;
}

t3 {
  font-family: sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: #494949;
}

t4{
	
}

tnorm {
  font-family: sans-serif;
  font-size: 1em;
  color: #494949;
}