<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!-- Erklärung: Den Head und das nav unten bitte eins zu eins in JEDE Seite kopieren. Nicht vergessen: Den Page Title noch anpassen!  -->

<head th:include="header :: head">
    <title id="pageTitle">Startseite</title>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/icon.css'>
</head>
<body>
<nav th:include="navbar :: navbar"></nav>
<div class="ui container">

    <p th:text="${article.name}">Name</p>
    <p th:text="${article.description}">Beschreibung</p>
    <p th:text="${article.price}">Preis</p>
    <p th:text="${article.getId()}">ID</p>
    <div class="ui button">
        <a class="item" th:href="@{http://localhost:8080/edit/{id}(id=${article.getId()})}" target="_self">Bearbeiten
        </a>
    </div>
</div>

</body>
</html>