<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="header :: head">
    <title id="pageTitle">Katalog</title>
</head>
<body>
<nav th:include="navbar :: navbar"></nav>
<div class="ui sidebar inverted vertical menu">
    <a class="item">

        1
    </a>
    <a class="item">
        2
    </a>
    <a class="item">
        3
    </a>
</div>
<div class="pusher">
    <!-- Site content !-->
</div>
<div class="ui link cards" th:remove="all-but-first">
    <div class="ui card" th:each="article : ${catalog}">
        <div class="content">
            <a class="header" th:href="@{/disc/{id}(id=${disc.id})}" th:text="${disc.name}">Last Action Hero</a>
        </div>
        <div class="image">
            <a th:href="@{/disc/{id}(id=${disc.id})}">
                <img class="thumbnail" th:src="@{/resources/img/cover/{image}.jpg(image=${disc.image})}"
                     src="../static/resources/img/cover/lac.jpg"/>
            </a>
        </div>
        <div class="content">
            <div class="description" th:text="${{disc.price}}">9.99 €</div>
        </div>
        <div class="extra content" th:text="${disc.genre}"> Action</div>
    </div>
</div>
</body>
</html>