

<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
	<head th:include="header :: head">
		<title id="pageTitle">Katalog</title>
	</head>
	<body>
		<nav th:include="navbar :: navbar"></nav>
		<form method="post" th:action="@{/catalog}" th:object="${filterform}">
			<div class="ui menu">
				<!--
				<div class="item">
					<select class="ui dropdown" th:field="*{type}">
						<option th:value="all" >Alle Artikel</option>
						<option th:value="part" >Möbelteile</option>
						<option th:value="composite">Möbel</option>
					</select>
				</div>
				-->



				<div class="item">
					<div class="ui simple dropdown">
						<div class="text">Farbe</div>
						<i class="dropdown icon"></i>
						<div class="menu">
							<div class="item" th:each="colour: ${colours}">
								<input type="checkbox"
									th:field="*{selectedColours}"
									th:value="${colour}">
								<label th:text="${colour}"></label>
							</div>
						</div>
					</div>
				</div>

				<div class="item">
					<div class="ui simple dropdown">
						<div class="text">Preis Netto</div>
						<i class="dropdown icon"></i>
						<div class="menu">
							<div class="item">
								<div class="ui labeled input">
									<div class="ui label">Mindestpreis</div>
									<input type="number" th:value="1" th:field="*{minPriceNetto}">
								</div>
							</div>
							<div class="item">
								<div class="ui labeled input">
									<div class="ui label">Maximalpreis</div>
									<input type="number" th:value="50000.0" th:field="*{maxPriceNetto}">
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="item">
					<div class="ui simple dropdown">
						<div class="text">Kategorien</div>
						<i class="dropdown icon"></i>
						<div class="menu">
							<div class="item" th:each="category: ${categories}">
								<input type="checkbox"
									   th:field="*{selectedCategories}"
									   th:value="${category}" />
								<label th:text="${category}"></label>
							</div>
						</div>
					</div>
				</div>
				<a th:if="${#fields.hasErrors('selectedCategories')}" th:errors="*{selectedCategories}">MaxPrice Error</a>
				<a th:if="${#fields.hasErrors('maxPriceNetto')}" th:errors="*{maxPriceNetto}">MaxPrice Error</a>
				<a th:if="${#fields.hasErrors('minPriceNetto')}" th:errors="*{minPriceNetto}">MaxPrice Error</a>
				<a th:if="${#fields.hasErrors('selectedColours')}" th:errors="*{selectedColours}">MaxPrice Error</a>
				<div class="item">
					<button class="ui button" type="submit" value="filter" name="reset">
					<i class="filter icon"></i>
					Filtern
					</button>
				</div>
				<div class="item">
					<button class="ui button" type="submit" value="reset" name="reset">
					<i class="recycle icon"></i>
					Filter zurücksetzen
					</button>
				</div>
				<!--
				<div class="item" sec:authorize="hasRole('ROLE_EMPLOYEE')">
					<a th:href="@{/catalog/hidden}">
						<div class="ui button">
							<i class="eye icon"></i>
							Versteckte Artikel
						</div>
					</a>
				</div>
				-->

				<!--
				<div class="right menu" sec:authorize="hasRole('ROLE_EMPLOYEE')">
				-->

				<div class="item">
					<div class="ui simple dropdown">
						neuer Artikel
						<i class="dropdown icon"></i>
						<div class="menu">
							<a class="item" th:href="@{/catalog/part/new}">Rohstoff</a>
							<a class="item" th:href="@{/catalog/composite/new}">Einzelteil/Produkt</a>
						</div>
					</div>
				</div>
				<!--
				</div>
				-->

			</div>
		</form>


		<div id="tablespace">
			<table id="articletable" class="ui celled table">
				<thead>
				<tr>
					<th th:text="#{articletable.name}">Name</th>
					<th th:text="#{articletable.amount}">Anzahl</th>
					<th>Kategorie</th>
					<th>Farbe</th>
					<th>Preis Netto</th>
					<th>Preis Brutto</th>
					<th>Hersteller Url</th>
					<th>EAN Code</th>
					<th>Bestellen</th>
					<th>Bearbeiten</th>


				</tr>
				</thead>
				<tbody>
				<!--/*@thymesVar id="inventoryItems" type="kickstart.catalog.CatalogController"*/-->
				<tr th:each="item: ${inventoryItems}">
					<td th:text="${item.getProduct().getName()}">Name</td>
					<td th:text="${item.getQuantity().getAmount().toString()}">Anzahl</td>
					<td th:text="${catalogManager.getArticle(item.getProduct().getId()).getCategories().get().findFirst().get()}">Kategorie</td>
					<td th:text="${catalogManager.getArticle(item.getProduct().getId()).getColour()}">Farbe</td>
					<td th:text="${catalogManager.getArticle(item.getProduct().getId()).getPriceNetto()}">Netto</td>
					<td th:text="${catalogManager.getArticle(item.getProduct().getId()).getPriceBrutto()}">Brutto</td>
					<td th:text="${catalogManager.getArticle(item.getProduct().getId()).getHerstellerUrl()}">Url</td>
					<td th:text="${catalogManager.getArticle(item.getProduct().getId()).getEanCode()}">Ean</td>
                    <td>
                        <a th:href="@{/reorder/{id}(id=${item.getProduct().getId()})}">
                            <div class="ui green basic button">
                                <i class="chart bar icon"></i>Nachbestellen
                            </div>
                        </a>
                    </td>
                    <td>
                        <div class="ui two buttons" >
                            <div th:switch="${catalogManager.getArticle(item.getProduct().getId()).getType()}">
                                <a th:case="${T(kickstart.articles.Article.ArticleType).PART}"
                                   th:href="@{/edit/{id}(id=${item.getProduct().getId()})}" target="_self">
                                    <div class="ui red basic button">
                                        <i class="edit icon"></i>Bearbeiten
                                    </div>
                                </a>

                                <a th:case="${T(kickstart.articles.Article.ArticleType).COMPOSITE}"
                                   th:href="@{/edit/composite/{id}(id=${item.getProduct().getId()})}" target="_self">
                                    <div class="ui red basic button">
                                        <i class="edit icon"></i>Bearbeiten
                                    </div>
                                </a>
                            </div>

                        </div>
                    </td>

				</tr>
				</tbody>
			</table>
		</div>



		<!--

		<div id="tablespace">
			<div class="ui link cards" th:remove="all-but-first">
				<div class="card" th:each="article : ${catalog}">
					<div class="content">
						<a class="header" th:href="@{/article/{id}(id=${article.id})}" th:text="${article.name}">Artikel</a>
						<div class="meta" th:text="${article.getAllCategories()}">
							<p>Kategorie</p>
							<span th:each="category :${article.getAllCategories()}" th:text="${category}"></span>
						</div>
						<div class="description">
							<p>verfügbare Farben:</p>
							<span th:each="color : ${article.colour}" th:text="${color}+' '">schwarz</span>
						</div>
						<div class="description" th:text="${article.price.getNumber().doubleValueExact()}+' '+${article.price.getCurrency()}">9.99 €</div>
					</div>
				</div>
			</div>
		-->

		</div>
	</body>
</html>

