

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:include="header :: head">
		<title id="pageTitle">Kundenkonto</title>
	</head>
	<body>
		<nav th:include="navbar :: navbar"></nav>
		<div id="title">
			<t1 sec:authorize="hasRole('ROLE_CUSTOMER')" th:text="${'Willkommen, ' + #authentication?.name + '!'}">Hallo Nutzer</t1>
			<t1 sec:authorize="hasRole('ROLE_EMPLOYEE')" th:text="${'Account von: ' + name }">Hallo Nutzer</t1>
		</div>
		<div id="customerbox" sec:authorize="hasRole('ROLE_CUSTOMER')">
			<a class="ui button" id="deactivateMyself" th:text="${'Account ' + 'deaktivieren'}">Account deaktivieren</a>
		</div>

		<div id="customerbox">
			<a th:if="${enableDeactivation}" class="ui button" sec:authorize="hasRole('ROLE_EMPLOYEE')" th:href="@{'/addcostumertocart'(user=${id})}" th:text="Bestellen">choose</a>
 			<a th:if="${enableDeactivation}" class="ui button" sec:authorize="hasRole('ROLE_BOSS')"  id="deactivate" th:text="${'Account ' + 'deaktivieren'}">Account deaktivieren</a>
  			<a th:if="!${enableDeactivation}" class="ui button" sec:authorize="hasRole('ROLE_BOSS')" id="activate" th:text="${'Account ' + 'aktivieren'}">Account aktivieren</a>
		</div>
		<div id="tablespace">
		<div class="ui grid">
			<div class="four wide column">
				<div id="textnhead">
					<t2>Ihre Daten bei uns:</t2>
				</div>
				<div id="textnhead">
					<t3>Name</t3>
					<br>
					<tnorm th:text="${name}">Name</tnorm>
				</div>
				<div id="textnhead">
					<t3>E-Mail Adresse:</t3>
					<br>
					<tnorm th:text="${email}">E-Mail</tnorm>
				</div>
				<div id="textnhead">
					<t3>Anschrift:</t3>
					<br>
					<tnorm th:text="${address}">Addresse</tnorm>
				</div>
				<div id="textnhead">
					<a th:href="@{'/editData'(user=${id})}">
						<div class="ui button">
							<i class="edit icon"></i>
							Daten ändern
						</div>
					</a>
				</div>
			</div>
		<div class="twelve wide column">
			<t2>Bestellübersicht</t2>
			<table class="ui sortable inverted grey table">
				<thead>
					<tr>
						<th>Datum</th>
						<th>Preis</th>
						<th>Status</th>
						<th>Verfügbare Aktionen für Bestellung</th>
					</tr>
				</thead>
				<tbody th:remove="all-but-first">
					<tr th:each="order : ${allOrders} ">
						<td th:text="${#temporals.format(order.dateCreated, 'dd.MM.yyyy HH:mm')}"></td>
						<td th:text="${order.TotalPrice.getNumber().doubleValueExact()} + ' ' + ${order.TotalPrice.getCurrency()}"></td>
 						<td th:if="${order.isOpen()}">Offen</td>
						<td th:if="${order.isPaid()}">Bezahlt</td>
                        <td th:if="${(order.isCompleted()) and (order.isversendet())}">Versendet</td>
                        <td th:if="${order.isabholbereit()}">Abholbereit</td>
						<td th:if="${order.isabgeholt()}">Abgeschlossen</td>
                        <!-- noch mehr statusse -->
						<td th:if="${order.isCanceled()}">Storniert</td>
<!-- 						Das muss in ein paar ordentliche anchor umgewandelt werden!! -->
						<td th:if="${order.isOpen()}">
							<a th:href="@{'/cancelthatorder'(orderidentity=${order.id}, choose=bezahlen)}" sec:authorize="hasRole('ROLE_CUSTOMER')">
								<div class="positive ui button">
									<i class="euro sign icon"></i>
									Jetzt bezahlen
								</div>
							</a>
							<a th:href="@{'/cancelthatorder'(orderidentity=${order.id}, choose=stornieren)}" sec:authorize="hasRole('ROLE_EMPLOYEE')">
								<div class="negative ui button">
									<i class="remove icon"></i>
									Stornieren
								</div>
							</a>
						</td>
						<td th:if="!${order.isOpen()}">
							Keine Aktion verfügbar
						</td>
					</tr>

					</tbody>
				</table>
			</div>
		</div>
		</div>
		<div class="ui tiny modal" id="deactivateAccount">
			<div class="ui icon header">
				<i class="frown icon"></i>
				Möchten Sie den Kundenaccount wirklich deaktivieren?
			</div>
			<div class="content">
				<p>Durch deaktivieren des Accounts ist der Kunde nicht mehr in der Lage, sich auf der Webseite anzumelden.</p>
				<p>Sind sie wirklich sicher?</p>
			</div>
			<div class="actions">
				<div class="negative ui button">
					<i class="remove icon"></i>
					Nein
				</div>
				<a th:href="@{'/activation'(user=${id}, type=0)}">
					<div class="positive ui button">
						<i class="checkmark icon"></i>
						Ja
					</div>
				</a>
			</div>
		</div>
		<div class="ui tiny modal" id="deactivateOwnAccount">
			<div class="ui icon header">
				<i class="frown icon"></i>
				Möchten Sie ihren Kundenaccount wirklich deaktivieren?
			</div>
			<div class="content">
				<p>Durch deaktivieren des Accounts sind sie nicht mehr in der Lage, sich auf unserer Webseite anzumelden.</p>
				<p>Sind sie wirklich sicher?</p>
			</div>
			<div class="actions">
				<div class="negative ui button">
					<i class="remove icon"></i>
					Nein
				</div>
				<a th:href="@{/deactivateMyself}">
					<div class="positive ui button">
						<i class="checkmark icon"></i>
						Ja
					</div>
				</a>
			</div>
		</div>
		<div class="ui tiny modal" id="activateAccount">
			<div class="ui icon header">
				<i class="smile icon"></i>
				Möchten Sie den Kundenaccount wieder aktivieren?
			</div>
			<div class="content">
				<p>Dem Kunden wird damit ermöglich, sich ab sofort wieder auf der Webseite anzumelden.</p>
				<p>Fortfahren?</p>
			</div>
			<div class="actions">
				<div class="negative ui button">
					<i class="remove icon"></i>
					Nein
				</div>
				<a th:href="@{'/activation'(user=${id}, type=1)}">
					<div class="positive ui button">
						<i class="checkmark icon"></i>
						Ja
					</div>
				</a>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		$(document).ready(function(){
			$('#deactivate').click(function(){
				$('#deactivateAccount').modal('show');
			});
			$('#deactivateMyself').click(function(){
				$('#deactivateOwnAccount').modal('show');
			});
			$('#activate').click(function(){
				$('#activateAccount').modal('show');
			});
			$('table').tablesort()
		});
	</script>
</html>

