<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">

<!-- Erklärung: Den Head und das nav unten bitte eins zu eins in JEDE Seite kopieren. Nicht vergessen: Den Page Title noch anpassen!  -->

<head th:include="header :: head">
    <title id="pageTitle">Startseite</title>
</head>
<body>
<nav th:include="navbar :: navbar"></nav>

    <form method="post" th:action="@{/edit/composite/{id}(id=${article.id})}" th:object="${compositeForm}">
        <table id="editspace" class="ui definition table ">
            <thead>
            <th></th>
            <th><t3>Bisherige Werte</t3></th>
            <th><t3>neue Werte</t3></th>
            </thead>
            <tbody>

            <tr>
                <td><t3>Bezeichnung:</t3></td>
                <td th:text="${article.name}">Name</td>
                <td>
                    <input type="text" th:field="*{name}" required="required"/>
                </td>
            </tr>
            <tr>
                <td><t3>Beschreibung:</t3></td>
                <td th:text="${article.description}">Name</td>
                <td>
                    <input type="text" th:field="*{description}" required="required"/>
                </td>
            </tr>
            <tr>
                <td><t3>Artikel:</t3></td>
                <td></td>
                <td></td>
            </tr>
            <tr th:each="article : ${catalog}">
                <td th:text="${article.key.name}"></td>
                <td class="center aligned" th:text="${article.value}"></td>
                <td>
                    <input type="number" min="0" value="0" th:name="article_+${article.key.id}" >
                </td>

            </tr>
            </tbody>
            <tfoot class="full width">
            <tr>
                <th></th>
                <th colspan="4">
                    <div>
                        <input type="submit" value="Ändern" class="ui fluid button" />
                    </div>
                </th>
            </tr>
            </tfoot>
        </table>
    </form>
</body>
</html>