<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">

<!-- Erklärung: Den Head und das nav unten bitte eins zu eins in JEDE Seite kopieren. Nicht vergessen: Den Page Title noch anpassen!  -->

<head th:include="header :: head">
    <title id="pageTitle">Startseite</title>
</head>
<body>
<nav th:include="navbar :: navbar"></nav>
<div class="ui page grid">
    <div class=" ui segment">


        <form method="post" th:action="@{/edit/{id}(id=${article.getId()})}" th:object="${form}">
            <div class=" ui vertical segment">
                <div class="ui labeled input">
                <div class="ui label">Produktname</div>
                <input type="text" th:field="*{name}" th:placeholder="${article.name}"/>
                </div>
            </div>
            <div class="ui vertical segment">
                <div class="ui labeled input">
                    <div class="ui label">Beschreibung</div>
                <input type="text" th:field="*{description}" th:placeholder="${article.description}"/>
                </div>
            </div>
            <div class="ui vertical segment">
                <div class="ui labeled input">
                    <div class="ui label">Preis</div>
                <input type="number" th:field="*{price}" th:placeholder="${article.price}"/>
                </div>
            </div>
            <div class="ui vertical segment">
                <div class="ui labeled input">
                    <div class="ui label">Gewicht</div>
                <input type="number" th:field="*{weight}" th:placeholder="${article.weight}"/>
                </div>
            </div>
            <div class="ui vertical item">
                <div class="ui simple dropdown item">
                    Farben
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div th:each="colour: ${colours}">
                            <div class="ui labeled input"> <input class="ui checkbox" type="checkbox"
                                                                  th:field="*{selectedColours}"
                                                                  th:value="${colour}" />
                                <label
                                        th:text="${colour}"></label>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="ui vertical item">
                <div class="ui simple dropdown item">
                    Kategorien
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div th:each="category: ${categories}">
                            <div class="ui labeled input"> <input class="ui checkbox" type="checkbox"
                                                                  th:field="*{selectedCategories}"
                                                                  th:value="${category}" />
                                <label
                                        th:text="${category}"></label>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="ui vertical segment">

                    <a class="item">
                        <input type="submit" value="Ändern" class="ui button"/>
                    </a>

            </div>
        </form>
    </div>
</div>
</body>
</html>