<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">

<!-- Erklärung: Den Head und das nav unten bitte eins zu eins in JEDE Seite kopieren. Nicht vergessen: Den Page Title noch anpassen!  -->

<head th:include="header :: head">
    <title id="pageTitle">Startseite</title>
</head>
<body>
<nav th:include="navbar :: navbar"></nav>

    <form method="post" th:action="@{/edit/composite/{id}(id=${article.id})}" th:object="${compositeForm}">
        <table id="editspace" class="ui definition table ">
            <thead>
                <th>
                    <div>
                        <input type="submit" value="Ändern" class="ui fluid button" />
                    </div>
                </th>
                <th><t3>Bisherige Werte</t3></th>
                <th><t3>neue Werte</t3></th>
            </thead>
            <tbody>
                <tr>
                    <td><t3>Bezeichnung:</t3></td>
                    <td th:text="${article.name}">Name</td>
                    <td>
                        <input type="text" th:field="*{name}"/>
                    </td>
                </tr>


                <tr>
                    <td><t3>Kiritsche Menge:</t3></td>
                    <td th:text="${article.criticalAmount}">critiaclAmount</td>
                    <td>
                        <input type="number" min="0" step="1" th:field="*{criticalAmount}" />
                        <div class="ui left pointing red basic label" th:if="${#fields.hasErrors('criticalAmount')}" th:errors="*{criticalAmount}"></div>
                    </td>
                </tr>

                <tr>
                    <td><t3>Preis Netto:</t3></td>
                    <td th:text="${article.priceNetto.getNumber().doubleValueExact()}+' '+${article.priceNetto.getCurrency()}">Name</td>
                    <td>
                        <input type="number" min="0" step="0.01" th:field="*{priceNetto}" />
                        <div class="ui left pointing red basic label" th:if="${#fields.hasErrors('priceNetto')}" th:errors="*{priceNetto}"></div>
                    </td>
                </tr>

                <tr>
                    <td><t3>Preis Brutto:</t3></td>
                    <td th:text="${article.priceBrutto.getNumber().doubleValueExact()}+' '+${article.priceBrutto.getCurrency()}">priveBrutto</td>
                    <td>
                        <input type="number" min="0" step="0.1" th:field="*{priceBrutto}" />
                        <div class="ui left pointing red basic label" th:if="${#fields.hasErrors('priceBrutto')}" th:errors="*{priceBrutto}"></div>
                    </td>
                </tr>

                <tr>
                    <td><t3>Farben:</t3></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr th:each="colour : ${colours}">
                    <td></td>
                    <div th:switch="${article.getColour().contains(colour)}">
                        <td th:case="true" th:text="${colour}"></td>
                        <td th:case="*"></td>
                    </div>
                    <td>
                        <div class="ui labeled input">
                            <input class="ui checkbox" type="checkbox"
                                   th:field="*{selectedColour}"
                                   th:value="${colour}" />
                            <label
                                    th:text="${colour}">
                            </label>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td><t3>EAN Code:</t3></td>
                    <td th:text="${article.eanCode}">EAN</td>
                    <td>
                        <input type="text" th:field="*{eanCode}"/>
                    </td>
                </tr>

                <tr>
                    <td><t3>Hersteller URL:</t3></td>
                    <td th:text="${article.herstellerUrl}">URL</td>
                    <td>
                        <input type="text" th:field="*{herstellerUrl}"/>
                    </td>
                </tr>

                <tr>
                </tr>

                <tr th:each="article : ${ManagerInventory}">
                    <td th:text="${article.key.name}"></td>
                    <td class="center aligned" th:text="${article.value}"></td>
                    <td>
                        <input type="number" min="0" th:value="${article.value}" th:name="article_+${article.key.id}" >
                    </td>
                </tr>


            </tbody>
            <tfoot class="full width">
            <tr>
                <th></th>
                <th colspan="4">
                    <div>
                        <input type="submit" value="Ändern" class="ui fluid button" />
                    </div>
                </th>
            </tr>
            </tfoot>
        </table>
    </form>
</body>
</html>