

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:include="header :: head">
    <title id="pageTitle">Error</title>
  </head>
  <body>
    <body>
      <div id="title">
        <t1>
          <i class="bug icon"></i>
          Ups... Hier ist etwas schiefgelaufen...
          <i class="bug icon"></i>
        </t1>
        <br/>
          <a href="index.html" th:href="@{/}">
	        <div id="modalbutton" class="ui primary basic button">
	        	<i class="terminal icon"></i>
	        	Zurück zur Startseite
	        </div>
        	</a>
      </div>
      <div id="tablespace">
        <table class="ui celled table">
          <thead>
            <tr>
              <th>Beschreibung</th>
              <th>Informationn</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Datum</td>
              <td th:text="${timestamp}"/>
            </tr>
            <tr>
              <td>Adresse</td>
              <td th:text="${path}"/>
            </tr>
            <tr>
              <td>Error</td>
              <td th:text="${error}"/>
            </tr>
            <tr>
              <td>Fehler Code</td>
              <td th:text="${status}"/>
            </tr>
            <tr>
              <td>Beschreibung</td>
              <td th:text="${message}"/>
            </tr>
            <tr>
              <td>Exception</td>
              <td th:text="${exception}"/>
            </tr>
<!--             sec:authorize="hasRole('ROLE_BOSS')" -->
            <tr> 
              <td>Trace</td>
              <td>
                <pre th:text="${trace}"/>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </body>
</html>

