<head th:fragment="head">
	<meta charset="UTF-8" />
<!-- Unser CSS -->
    <link th:href="@{/resources/css/style.css}" rel="stylesheet"
          href="../static/resources/css/style.css" type="text/css"/>
<!-- Semantic UI -->
    <link rel="stylesheet" type="text/css" href="../static/resources/css/semantic.min.css" th:href="@{/resources/css/semantic.min.css}" />
    <script th:src="@{/resources/js/semantic.min.js}"
            src="../static/resources/js/semantic.min.js"></script>
<!-- JQuery -->
    <script th:src="@{/resources/js/jquery-3.3.1.min.js}"
            src="../static/resources/js/jquery-3.3.1.min.js"></script>
    <title th:include=":: #pageTitle">Layout Generic Title</title>
</head>