<head th:fragment="head">
	<meta charset="UTF-8" />
<!-- CSS -->
    <link rel="stylesheet" type="text/css" href="static/resources/css/ourstyle.css">
    <link rel="stylesheet" type="text/css" href="../static/resources/css/style.css" th:href="@{/resources/css/ourstyle.css}" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/resources/css/semantic.min.css" th:href="@{/resources/css/semantic.min.css}" />
    <link rel="stylesheet" type="text/css" href="../static/resources/css/icon.min.css" th:href="@{/resources/css/icon.min.css}" />

    <title th:include=":: #pageTitle">Layout Generic Title</title>
</head>