

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:include="header :: head">
		<title id="pageTitle">Startseite</title>
	</head>
	<body>
		<nav th:include="navbar :: navbar"></nav>
		<div id="title">
			<t11>Fishstone.</t11>
		</div>
		<br/>
		<div id="registration" sec:authorize="!hasAnyRole('ADMIN','EMPLOYEE','CUSTOMER')">
			<t2>Sie haben noch kein Kundenkonto?</t2>
			<div id="buttonspace">
				<a class="ui button" href="register.html" th:href="@{/register}" th:text="Registrieren">Registrierung</a>
			</div>
		</div>
		<div id="registration" sec:authorize="!hasAnyRole('ADMIN','EMPLOYEE','CUSTOMER')">
			<t2>Sie möchten ohne Registrierung fortfahren?</t2>
			<div id="buttonspace">
				<a class="ui button" href="catalog.html" th:href="@{/}" th:text="'Zum ' + 'Manager'">Zum Manager</a>
			</div>
		</div>
		<div id="registration" sec:authorize="hasAnyRole('CUSTOMER')">
			<t2>Sie möchten bestellen? Dann rufen sie Jetzt an!</t2>
			<div id="buttonspace">
				<t1><i class="phone icon"></i>
					0900 123 456
				</t1>
				<br/>
				<tnorm>*für nur 1,99€ pro Minute.</tnorm>
			</div>
		</div>
        <div id="registration">
            <t2>Unsere beliebtesten Artikel:</t2>
        </div>
        <div id="registration">
			<div class="ui link cards justified" th:remove="all-but-first">
				<div class="card" th:each="article : ${catalog}">
					<div class="content">
						<a class="header" th:href="@{/article/{id}(id=${article.id})}" th:text="${article.name}">Artikel</a>
						<div class="meta" th:text="${article.getAllCategories()}">
							<p>Kategorie</p>
							<span th:each="category :${article.getAllCategories()}" th:text="${category}"></span>
						</div>
						<div class="description">
							<p>verfügbare Farben:</p>
							<span th:each="color : ${article.colour}" th:text="${color}+' '">schwarz</span>
						</div>
						<div class="description" th:text="${article.price.getNumber().doubleValueExact()}+' '+${article.price.getCurrency()}">9.99 €</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>

