<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: head">
    <title id="pageTitle">Warenkorb</title>
</head>
<body>
<nav th:include="navbar :: navbar"></nav>

<div class="twelve wide column">
    <h1>Warenkorb</h1>
</div>
<div class="four wide column" align="right">
    <h2 th:text="${nameoftheorderer}">Hallr</h2>
</div>

<div th:unless="${cart.empty}">
    <table class="ui celled padded table">
        <thead>
        <tr>
            <th th:text="Titel">Titel</th>
            <th th:text="Stückzahl">Stückzahl</th>
            <th th:text="Preis">Preis</th>
        </tr>
        </thead>
        <tbody th:remove="all-but-first">


        <tr th:each="funiture : ${cart} ">
            <td th:text="${funiture.productName}">Moebelstück</td>
            <td th:text="${funiture.quantity}">Anzahl</td>
            <td th:text="${funiture.price}">Preis</td>
        </tr>
        </tbody>
    </table>
</div>


<div class="value" align="right"><h2><span th:text="${{cart.price}}">Gesamtpreis</span></h2></div>
<div class="value"><h2><span th:text="${wightofcart}"></span></h2></div>
<div  th:if="${available}==true"><h2>Wollen sie einen LKW mieten?</h2></div>
<div th:if="${ishome}==true" >   <h2 th:align="center">Bitte Lieferort auswählen</h2></div>
<div  th:if="${available}==false"><h2>Leider kein LKW verfügbar.</h2></div>
<div th:if="${ishome}==false" >  <h2 th:align="center" th:text="'Lieferort:'+' '+${finaldestination}">Lieferort</h2></div>

<div>
    <form th:align="center" th:action="@{/choosedestination}">
        <select name="destination">
            <option th:value="Home">Home</option>
            <option th:value="Berlin">Flatland</option>
            <option th:value="Hamburg">Otherplace</option>
            <option th:value="Stuttgart">Stuttgart</option>


        </select>
        <input type="submit" value="Auswählen">
    </form>
    <form th:action="@{/renttruck}" th:if="${available}==true">
        <button type="submit" class="ui button" th:text="'LKW' +' '+ 'mieten'+' '+${lkwprice}">button</button>
    </form>
    <form th:action="@{/addorder}">
        <button id="buttonspace" type="submit" class="ui button" th:text="'Ohne'+' '+'LKW'+' '+'Bestellen'">button</button>
    </form>
</div>
</body>
</html>