<!--
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
-->
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://thymeleaf.org"
xmlns:sec="http://www.w3.org/1999/xhtml" >
	<head th:include="header :: head">
		<link rel="stylesheet" type="text/css" href="static/resources/css/ourstyle.css">
		<link rel="shortcut icon" type="image/ico" href="C:\Users\Bullseye\IdeaProjects\Mangment Webapplikation\src\main\resources\static\resources\favicon.ico"/>
		<title id="pageTitle">Fishstone</title>
	</head>
	<body style="background-color: #ECEFEF;letter-spacing: 3px;font-weight: bold">
		<nav th:include="navbar :: navbar"></nav>
		<form method="post" th:action="@{/filter}" th:object="${filterForm}">
			<div  class="ui menu">
				<div class="item">
					<div class="ui simple dropdown">
						<div class="text" style="color: #68d4d0;font-size: 20px;position: center;font-weight: bold;background-color: #FFFFFF">Farbe</div>
						<i class="dropdown icon"></i>
						<div class="menu">
							<div class="item" th:each="colour: ${colours}">
								<input style="width: 60px" type="checkbox"
									   th:field="*{selectedColours}"
									   th:value="${colour}">
								<label th:text="${colour}"></label>
							</div>
						</div>
					</div>
				</div>

				<div class="item" sec:authorize="hasRole('ROLE_MANAGER')">
					<div class="ui simple dropdown">
						<div class="text" style="color: #68d4d0;font-size: 20px;position: center;font-weight: bold;background-color: #FFFFFF">Preis Netto</div>
						<i class="dropdown icon"></i>
						<div class="menu">
							<div class="item">
								<div class="ui labeled input">
									<div class="ui label">Mindestpreis</div>
									<input style="width: 60px" type="number" th:value="0" th:field="*{minPriceNetto}">
								</div>
							</div>
							<div class="item">
								<div class="ui labeled input">
									<div class="ui label">Maximalpreis</div>
									<input style="width: 60px" type="number" th:value="50000.0" th:field="*{maxPriceNetto}">
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="item" sec:authorize="hasRole('ROLE_MANAGER')">
					<div class="ui simple dropdown">
						<div class="text" style="color: #68d4d0;font-size: 20px;position: center;font-weight: bold;background-color: #FFFFFF">Preis Brutto</div>
						<i class="dropdown icon"></i>
						<div class="menu">
							<div class="item">
								<div class="ui labeled input">
									<div class="ui label">Mindestpreis</div>
									<input style="width: 60px" type="number" th:value="0" th:field="*{minPriceBrutto}">
								</div>
							</div>
							<div class="item">
								<div class="ui labeled input">
									<div class="ui label">Maximalpreis</div>
									<input style="width: 60px" type="number" th:value="50000.0" th:field="*{maxPriceBrutto}">
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="item">
					<div class="ui simple dropdown">
						<div class="text" style="color: #68d4d0;font-size: 20px;position: center;font-weight: bold;background-color: #FFFFFF">Kategorien</div>
						<i class="dropdown icon"></i>
						<div class="menu">
							<div class="item" th:each="category: ${categories}">
								<input  style="width: 70px" type="checkbox"
									   th:field="*{selectedCategories}"
									   th:value="${category}" />
								<label th:text="${category}"></label>
							</div>
						</div>
					</div>
				</div>
				<a th:if="${#fields.hasErrors('selectedCategories')}" th:errors="*{selectedCategories}">MaxPrice Error</a>
				<a th:if="${#fields.hasErrors('maxPriceNetto')}" th:errors="*{maxPriceNetto}">MaxPrice Error</a>
				<a th:if="${#fields.hasErrors('minPriceNetto')}" th:errors="*{minPriceNetto}">MaxPrice Error</a>
				<a th:if="${#fields.hasErrors('selectedColours')}" th:errors="*{selectedColours}">MaxPrice Error</a>
				<div class="item">
					<button class="ui button" type="submit" value="filter" name="reset" style="color: #68d4d0;font-size: 20px;font-weight: bold;background-color: #FFFFFF;text-align: center">
					<i class="filter icon"></i>
					Filter anwenden
					</button>
				</div>
				<!--
				<div class="item">
					<button class="ui button" type="submit" value="reset" name="reset" style="color: #68d4d0;font-size: 20px;font-weight: bold;background-color: #FFFFFF;text-align: center">
					<i class="recycle icon"></i>
					Filter zurücksetzen
					</button>
				</div>
				-->


				<div class="item" sec:authorize="hasRole('ROLE_EMPLOYEE')">
					<a th:href="@{/undo}">
						<div class="ui button" th:if="${undoManager.getProductNameOfLastAction()!=null}" th:text="'Rückgängig: '+${undoManager.getProductNameOfLastAction()}+' '+${undoManager.getNameOfLastAction()}">
						</div>
					</a>
				</div>

				<!--
				<div class="item" sec:authorize="hasRole('ROLE_EMPLOYEE')">
					<a th:href="@{/hidden}">
						<div class="ui button">
							<i class="eye icon"></i>
							Versteckte Artikel
						</div>
					</a>
				</div>
				-->
				<div class="right menu" sec:authorize="hasRole('ROLE_MANAGER')">
					<a th:href="@{/activityLog}">
						<div class="ui button" style="margin: 10px">
							<i class="eye icon"></i>
							<span style="color: #68d4d0;font-size: 20px;font-weight: bold;text-align: center">Vorgänge</span>
						</div>
					</a>
				</div>

				<div class="right menu" sec:authorize="hasRole('ROLE_MANAGER')">
					<div  class="ui simple dropdown" style="padding-top: 20px">
						<span style="color: #68d4d0;font-size: 20px;font-weight: bold;background-color: #FFFFFF;text-align: center">Erstellen
							<i class="dropdown icon" ></i>
						</span>
						<div class="menu">
							<a class="item" th:href="@{/part/new}">Atomar</a>
							<a class="item" th:href="@{/composite/new}">Mit Bestandteilen</a>
						</div>
					</div>
				</div>

			</div>
		</form>


		<div id="tablespace">
			<table id="articletable" class="ui celled table" width="400" >

				<thead>
				<tr>
					<!--1--> <!--<editor-fold desc="Name View:P">--><th sec:authorize="hasRole('ROLE_PERMITTED')" 	style="text-align: center">Nameess</th>
					<!--</editor-fold>-->

					<!--2--> <!--<editor-fold desc="Gesamtbestand View:M">--><th sec:authorize="hasRole('ROLE_MANAGER')" 	style="text-align: center">Gesamtbestand</th>
					<!--</editor-fold>-->

					<!--3--> <!--<editor-fold desc="BwB Bestand View:P">-->
					<th sec:authorize="hasRole('ROLE_PERMITTED')" 	style="text-align: center">BwB Bestand</th>
					<!--</editor-fold>-->

					<!--4--> <!--<editor-fold desc="Hl Bestand View:M">-->
					<th sec:authorize="hasRole('ROLE_MANAGER')" 	style="text-align: center">HL Bestand</th>
					<!--</editor-fold>-->

					<!--5--> <!--<editor-fold desc="Herstallbar Hl View:M">-->
					<th sec:authorize="hasRole('ROLE_MANAGER')" 	style="text-align: center">Hestellbar HL</th>
					<!--</editor-fold>-->

					<!--6--> <!--<editor-fold desc="Herstellbar BwB View:M">-->
					<th sec:authorize="hasRole('ROLE_MANAGER')" 	style="text-align: center">Herstellbar BwB</th>
					<!--</editor-fold>-->

					<!--7--> <!--<editor-fold desc="Hersteller URL View:M">-->
					<th sec:authorize="hasRole('ROLE_MANAGER')" 	style="text-align: center">Hersteller URL</th>
					<!--</editor-fold>-->

					<!--8--> <!--<editor-fold desc="Buy View:M">-->
					<th sec:authorize="hasRole('ROLE_MANAGER')"  	style="text-align: center">Buy</th>
					<!--</editor-fold>-->

					<!--10--> <!--<editor-fold desc="Herstellen Hl View:M">-->
					<th sec:authorize="hasRole('ROLE_MANAGER')"  	style="text-align: center">Hergestellt</th>
					<!--</editor-fold>-->

					<!--12--> <!--<editor-fold desc="Sell View:M">-->
					<th sec:authorize="hasRole('ROLE_MANAGER')"  	style="text-align: center">Sell</th>
					<!--</editor-fold>-->

					<!--13--> <!--<editor-fold desc="Bestandteile View:P">-->
					<th sec:authorize="hasRole('ROLE_PERMITTED')" 	style="text-align: center">Bestandteile</th>
					<!--</editor-fold>-->

					<!--14--> <!--<editor-fold desc="EAN Code View:P">-->
					<th sec:authorize="hasRole('ROLE_PERMITTED')" 	style="text-align: center">EAN Code</th>
					<!--</editor-fold>-->

					<!--15--> <!--<editor-fold desc="Kategorie View:P">-->
					<th sec:authorize="hasRole('ROLE_PERMITTED')" 	style="text-align: center">Kategorie</th>
					<!--</editor-fold>-->

					<!--16 not used--> <!--<editor-fold desc="Bearbeiten View:M">-->
					<!--<th sec:authorize="hasRole('ROLE_MANAGER')" 	style="text-align: center">Bearbeiten</th>-->
					<!--</editor-fold>-->

				</tr>
				</thead>

				<tbody>
				<tr sec:authorize="hasRole('ROLE_PERMITTED')" th:each="item: ${inventoryItems}">

					<!--1--> <!--<editor-fold desc="Name View:P">-->
					<td sec:authorize="hasRole('ROLE_EMPLOYEE')">
						<div class="ui two buttons" style="color: #68d4d0;background-color: #FFFFFF">
							<a th:href="@{/toogleAbholbereit/{id}(id=${item.getProduct().getId()})}" target="_self">

								<div class="ui basic button">
									<span th:text="${item.getProduct().getName()} " style="font-size: 15px;font-weight: bold;text-align: center">Name nicht gefunden</span>
								</div>
							</a>
						</div>
					</td>

					<td sec:authorize="hasRole('ROLE_MANAGER')">
						<div class="ui two buttons" style="color: #68d4d0;background-color: #FFFFFF">
							<div th:switch="${administrationManager.getArticle(item.getProduct().getId()).getType()}">
								<a th:case="${T(kickstart.articles.Article.ArticleType).PART}"
								   th:href="@{/edit/{id}(id=${item.getProduct().getId()})}" target="_self">

									<div class="ui basic button">
										<span sec:authorize="hasRole('ROLE_MANAGER')" th:text="${item.getProduct().getName()}" style="font-size: 15px;font-weight: bold;text-align: center">Name nicht gefunden</span>
									</div>


									<!--
<div class="ui basic button">
										<span th:text="${item.getProduct().getPriceNetto+' '+item.getProduct().getPriceBrutto} " style="font-size: 20px;font-weight: bold;text-align: center"></span>
									</div>
									-->
								</a>

								<a th:case="${T(kickstart.articles.Article.ArticleType).COMPOSITE}"
								   th:href="@{/edit/composite/{id}(id=${item.getProduct().getId()})}" target="_self">
									<div class="ui basic button">
										<span sec:authorize="hasRole('ROLE_MANAGER')" th:text="${item.getProduct().getName()}" style="font-size: 15px;font-weight: bold;text-align: center">Name nicht gefunden</span>
									</div>

									<!--
									<div class="ui basic button">
										<span th:text="${item.getProduct().getPriceNetto+' 'item.getProduct().getPriceBrutto} " style="font-size: 20px;font-weight: bold;text-align: center"></span>
									</div>
									-->


								</a>

							</div>
						</div>
					</td>
                                                        <!--</editor-fold>-->

					<!--2--> <!--<editor-fold desc="Gesamtbestand View:M">-->
					<td sec:authorize="hasRole('ROLE_MANAGER')" th:text="${item.getQuantity().getAmount().intValue()}+${item.getUnitQuant()}" style="font-size: 20px;font-weight: bold;text-align: center" >Gesamtbestand</td>
					<!--</editor-fold>-->

					<!--3--> <!--<editor-fold desc="BwB Bestand View:P">-->
					<td sec:authorize="hasRole('ROLE_PERMITTED')">
							<div  style="font-size: 20px;font-weight: bold;text-align: center">
								<!--if critische menge unterschritten dann Zahl ROT-->
								<span th:if="${ item.getAmountBwB() < administrationManager.getArticle(item.getProduct().getId()).getCriticalAmount() }" th:text="${item.getAmountBwB()}+${item.getUnitQuant()}" style="font-size: 20px;font-weight: bold;text-align: center; color: red "></span>
								<!--else-->
								<span th:unless="${item.getAmountBwB() < administrationManager.getArticle(item.getProduct().getId()).getCriticalAmount() }" th:text="${item.getAmountBwB()}+${item.getUnitQuant()}">
									<!--if Abholbereit dann GRÜN-->
									<span th:if="${administrationManager.getArticle(item.getProduct().getId()).isAbholBereit() }" th:text="${item.getAmountBwB()}+${item.getUnitQuant()}" style="font-size: 20px;font-weight: bold;text-align: center; color: green "></span>
									<!--sonst SCHWARZ-->
									<span th:unless="${ administrationManager.getArticle(item.getProduct().getId()).isAbholBereit() }" th:text="${item.getAmountBwB()}+${item.getUnitQuant()}" style="font-size: 20px;font-weight: bold;text-align: center"></span>
								</span>
								<!--
								<span th:unless="${ item.getAmountBwB() >= administrationManager.getArticle(item.getProduct().getId()).getCriticalAmount() }" th:text="${item.getAmountBwB()}+${item.getUnitQuant()}" style="font-size: 20px;font-weight: bold;text-align: center">
								-->
							</div>
							<!--
													<div th:switch="${administrationManager.getArticle(item.getProduct().getId()).getType()}"></div>
							<div th:case="${T(kickstart.articles.Article.ArticleType).COMPOSITE}" style="font-size: 20px;font-weight: bold;text-align: center">
							<span th:if="${ item.getAmountBwB()+administrationManager.craftbarBwB(item.getProduct().getId()) >= administrationManager.getArticle(item.getProduct().getId()).getCriticalAmount() }" th:text="${item.getAmountBwB()}+${item.getUnitQuant()}" style="font-size: 20px;font-weight: bold;text-align: center"></span>
							<span th:if="${ item.getAmountBwB()+administrationManager.craftbarBwB(item.getProduct().getId()) < administrationManager.getArticle(item.getProduct().getId()).getCriticalAmount() }" th:text="${item.getAmountBwB()}+${item.getUnitQuant()}" style="font-size: 20px;font-weight: bold;text-align: center; color: red "></span>
						</div>-->

					</td>

					<!--<td th:text="${item.getAmountBwB()}+${item.getUnitQuant()}" sec:authorize="hasRole('ROLE_PERMITTED')" style="font-size: 20px;font-weight: bold;text-align: center" >BWBbestand</td>-->

					<!--</editor-fold>-->

					<!--4--> <!--<editor-fold desc="Hl Bestand View:M">-->
					<td sec:authorize="hasRole('ROLE_MANAGER')">
						<span th:if="${ item.getAmountHl() < administrationManager.getArticle(item.getProduct().getId()).getCriticalAmount() }"
							  th:text="${item.getAmountHl()}+${item.getUnitQuant()}" style="font-size: 20px;font-weight: bold;text-align: center; color: red ">HlBestand>
						</span>
						<span th:unless="${ item.getAmountHl() < administrationManager.getArticle(item.getProduct().getId()).getCriticalAmount() }"
							  th:text="${item.getAmountHl()}+${item.getUnitQuant()}" style="font-size: 20px;font-weight: bold;text-align: center;">HlBestand
						</span>

					</td>
					<!--</editor-fold>-->

					<!--5--> <!--<editor-fold desc="Herstallbar Hl View:M">-->
					<td  sec:authorize="hasRole('ROLE_MANAGER') " style="font-size: 20px;font-weight: bold;text-align: center">
						<div th:switch="${administrationManager.getArticle(item.getProduct().getId()).getType()}">
							<div th:case="${T(kickstart.articles.Article.ArticleType).COMPOSITE}">
								<span 	th:if="${
											administrationManager.craftbarHl(item.getProduct().getId()) < administrationManager.getArticle(item.getProduct().getId()).getCriticalAmount()
										}"
									  	th:text="${administrationManager.craftbarHl(item.getProduct().getId())}?:''"
									  	style="font-size: 20px;font-weight: bold;text-align: center; color: red ">Herstellbar Hl Rot
								</span>
								<span 	th:unless="${ administrationManager.craftbarHl(item.getProduct().getId()) < administrationManager.getArticle(item.getProduct().getId()).getCriticalAmount() }"
									  	th:text="${administrationManager.craftbarHl(item.getProduct().getId())}"
									  	style="font-size: 20px;font-weight: bold;text-align: center;">Herstellbar Hl Schwarz
								</span>
							</div>
						</div>
					</td>
					<!--</editor-fold>-->

					<!--6--> <!--<editor-fold desc="Herstellbar BwB View:M">-->
					<td  sec:authorize="hasRole('ROLE_MANAGER') " style="font-size: 20px;font-weight: bold;text-align: center">
						<div th:switch="${administrationManager.getArticle(item.getProduct().getId()).getType()}">
							<div th:case="${T(kickstart.articles.Article.ArticleType).COMPOSITE}" style="font-size: 20px;font-weight: bold;text-align: center">
								<span th:if="${administrationManager.craftbarBwB(item.getProduct().getId()) >= administrationManager.getArticle(item.getProduct().getId()).getCriticalAmount() }"
									  th:text="${administrationManager.craftbarBwB(item.getProduct().getId())}?:''"
									  style="font-size: 20px;font-weight: bold;text-align: center"></span>
								<span th:unless="${administrationManager.craftbarBwB(item.getProduct().getId()) >= administrationManager.getArticle(item.getProduct().getId()).getCriticalAmount() }"
									  th:text="${administrationManager.craftbarBwB(item.getProduct().getId())}?:''"
									  style="font-size: 20px;font-weight: bold;text-align: center; color: red "></span>
							</div>
						</div>
					</td>
					<!--</editor-fold>-->

					<!--7--> <!--<editor-fold desc="Hersteller URL View:M">-->
					<td sec:authorize="hasRole('ROLE_MANAGER')" style="color: #68d4d0;font-size: 20px;font-weight: bold;background-color: #FFFFFF;text-align: center">  <a style="color: #68d4d0;font-size: 20px;font-weight: bold;background-color: #FFFFFF;text-align: center" th:href="${administrationManager.getArticle(item.getProduct().getId()).getHerstellerUrl()}"
																																										   th:text="Link"
																																										   target="_blank" />
					</td>
					<!--</editor-fold>-->

					<!--8--> <!--<editor-fold desc="Buy View:M">-->
					<td sec:authorize="hasRole('ROLE_MANAGER')" >
						<form method="post" role="form" name="f" th:object="${inForm}" th:action="@{/in/{id}(id=${item.getProduct().getId().getIdentifier()})}">
							<div class="inline field">
								<div>
									<input style="width: 70px;text-align: center;"  autofocus type="number" th:field="*{amount}" />
									<button  type="submit" class="ui button" style="color: #68d4d0;margin: 0px;font-size: 20px;font-weight: bold;background-color: #FFFFFF;letter-spacing: 3px;" >In</button>
								</div>

							</div>
						</form>
					</td>
					<!--</editor-fold>-->

					<!--10--> <!--<editor-fold desc="Herstellen Hl View:M">-->
					<td sec:authorize="hasRole('ROLE_MANAGER')" width="100px">
						<form method="post" role="form" name="f" th:object="${craftForm}" th:action="@{/craftHl/{id}(id=${item.getProduct().getId().getIdentifier()})}">
							<div class="inline field" th:switch="${administrationManager.getArticle(item.getProduct().getId()).getType()}">
								<div th:case="${T(kickstart.articles.Article.ArticleType).COMPOSITE}">
									<input  style="width: 70px;display:block;text-align: center;" autofocus type="number" th:field="*{amount}" />
									<button  type="submit" class="ui button"  style="color: #68d4d0;font-size: 20px;text-align: center;margin: 0px;font-weight: bold;background-color: #FFFFFF;letter-spacing: 3px;">Craft</button>
								</div>

							</div>
						</form>
					</td>
					<!--</editor-fold>-->

					<!--12--> <!--<editor-fold desc="Sell View:M">-->
					<td sec:authorize="hasRole('ROLE_MANAGER')" >
						<form method="post" role="form" name="f2" th:object="${outForm}" th:action="@{/out/{id}(id=${item.getProduct().getId().getIdentifier()})}">
							<div class="inline field">
								<div>
									<input style="width: 70px;text-align: center;"  autofocus type="number" th:field="*{amount}" />
									<button  type="submit" class="ui button" style="color: #68d4d0;background-color: #FFFFFF;font-size: 20px;margin: 0px;letter-spacing: 3px;" >Out</button>
								</div>

							</div>
						</form>
					</td>
					<!--</editor-fold>-->

					<!--13--> <!--<editor-fold desc="Bestandteile View:P">-->
					<td sec:authorize="hasRole('ROLE_PERMITTED')">
						<div th:switch="${administrationManager.getArticle(item.getProduct().getId()).getType()}">
							<div th:case="${T(kickstart.articles.Article.ArticleType).COMPOSITE}" th:text="${administrationManager.getTextOfSubComponents(item.getProduct().getId())}">
							</div>
						</div>
					</td>
					<!--</editor-fold>-->

					<!--14--> <!--<editor-fold desc="EAN Code View:P">-->
					<td sec:authorize="hasRole('ROLE_PERMITTED')" th:text="${administrationManager.getArticle(item.getProduct().getId()).getEanCode()}">Ean</td>
					<!--</editor-fold>-->

					<!--15--> <!--<editor-fold desc="Kategorie View:P">-->
					<td sec:authorize="hasRole('ROLE_PERMITTED')" th:text="${administrationManager.getArticle(item.getProduct().getId()).getCategories().get().findFirst().get()}">Categorie</td>
					<!--</editor-fold>-->
				</tr>
				</tbody>

			</table>
		</div>

		<div class="container-notiz">
			<form action="" method="POST" class="form">
				<div class="form-group-notiz">
					<input type="text" class="form-control-notiz"
					placeholder="Notiz" id="name" name="name"
					tabindex="1 required">
					<label for="name" class="form-label-notiz">Deine Notiz</label>
				</div>
			</form>

		</div>
	</body>
</html>

