
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">

<!-- Erklärung: Den Head und das nav unten bitte eins zu eins in JEDE Seite kopieren. Nicht vergessen: Den Page Title noch anpassen!  -->

<head th:include="header :: head">
    <title id="pageTitle">neues Möbelteil</title>
</head>
<body>
<nav th:include="navbar :: navbar"></nav>
<div class="ui  center aligned page grid" id="tablespace">
    <div class=" ui segment">


        <form method="post" th:action="@{/catalog/part/new}" th:object="${form}">
            <div class="ui negative message" th:if="${#fields.hasErrors('*')}">
                <p>Bitte überprüfen Sie ihre Eingabe.</p>
            </div>
            <div class=" ui vertical segment">
                <div class="ui labeled input">
                    <div class="ui label">Produktname</div>
                    <input type="text" th:field="*{name}" />
                    <div class="ui left pointing red basic label" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                        Bitte geben Sie einen Namen ein.
                    </div>
                </div>
            </div>
            <div class="ui vertical segment">
                <div class="ui labeled input">
                    <div class="ui label">Beschreibung</div>
                    <input type="text" th:field="*{description}" />
                    <div class="ui left pointing red basic label" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">
                        Bitte geben Sie eine Beschreibung ein.
                    </div>
                </div>
            </div>
            <div class="ui vertical segment">
                <div class="ui labeled input">
                    <div class="ui label">Preis</div>
                    <input type="number" min="0" step="0.01" th:field="*{price}" />
                    <div class="ui left pointing red basic label" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">
                        Bitte geben Sie eine Beschreibung ein.
                    </div>
                </div>
            </div>
            <div class="ui vertical segment">
                <div class="ui labeled input">
                    <div class="ui label">Gewicht</div>
                    <input type="number" min="0" step="0.1" th:field="*{weight}" />
                    <div class="ui left pointing red basic label" th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}">
                        Bitte geben Sie eine Beschreibung ein.
                    </div>
                </div>
            </div>

            <div class="ui vertical segment">
                <div th:each="colour: ${colours}">
                    <input name="radio-option-1" type="radio" th:field="*{selectedColour}" th:value="${colour}"/>
                    <label th:text="${colour}">  </label>
                </div>
                <div class="ui left red basic label" th:if="${#fields.hasErrors('selectedColour')}" th:errors="*{selectedColour}">
                    Bitte geben Sie eine Beschreibung ein.
                </div>
            </div>

            <!--
            <div class="ui vertical segment" id="buttonspace">
                <div class="ui simple dropdown">
                    <div class="text"> Farben </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div th:each="colour: ${colours}">
                            <div class="ui labeled input">
                                <input class="ui checkbox" type="checkbox" th:field="*{selectedColour}" th:value="${colour}" />
                                <label th:text="${colour}"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui left red basic label" th:if="${#fields.hasErrors('selectedColour')}" th:errors="*{selectedColour}">
                    Bitte geben Sie eine Beschreibung ein.
                </div>
            </div>
            -->

            <div class="ui vertical segment" id="buttonspace">
                <div class="ui simple dropdown item">
                    Kategorien
                    <i class="dropdown icon"></i>
                    <div class="menu">
                            <div th:each="category: ${categories}">
                                <div class="ui labeled input"> <input class="ui checkbox" type="checkbox"
                                                        th:field="*{selectedCategories}"
                                                        th:value="${category}" />
                                    <label
                                            th:text="${category}"></label>
                                </div>

                            </div>
                    </div>
                </div>
                <div class="ui left red basic label" th:if="${#fields.hasErrors('selectedCategories')}" th:errors="*{selectedCategories}">
                    Bitte geben Sie eine Beschreibung ein.
                </div>
            </div>
            <div class="ui vertical segment">

                <a class="item">
                    <input type="submit" value="Artikel erstellen" class="ui button"/>
                </a>

