<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:include="header :: head">
		<title id="pageTitle">Registrierung</title>
	</head>
	<body>
		<nav th:include="navbar :: navbar"></nav>
		<div class="ui form" sec:authorize="hasRole('ROLE_EMPLOYEE')">
			<form method=post role=form  th:action="@{/reorder/{id}(id=${id})}">
				<div class="ui labeled input">
        			<label class="ui label">Anzahl</label>
        			<input id="amount" name="amount" type="number" value="1">
        			<input class="ui button" type="submit" value="Nachbestellen">        		
        		</div>
			</form>
		</div>
	</body>
</html>